.projectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projectCard {
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin: 18px 0 18px 0;
  background-color: whitesmoke;
}
.projDesc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 10px;
}
.navbarDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.creatorName {
  right: 0px;
  font-size: 7px;
  padding: 0px;
  margin: 0px;
}
.rightHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.aboutBg {
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 100px;
}
.projectsPage {
  background-color: rgb(243, 243, 243);
  padding: 100px;
}
.projectDevParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 170px;
}
.projDate {
  font-weight: 400;
}
.cloneBtn {
  background-color: inherit;
  color: inherit;
  /* border-color: lightgray; */
}
.cloneAndRepoBtnDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.fullDescDiv1 {
  color: rgb(226, 226, 226);
  margin: 0px 60px 0px 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 30;
}
.endQuote {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.quotes {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.beginQuote {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: flex;
  justify-content: flex-end;
}
